body {
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* background-image: url(../images/background.gif);
    background-size: cover; */
    /* background-position: left; */
    font-family: 'Source Sans Pro', sans-serif;
}

aside {
    float: right;
    height: 50%;
}

article {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

h1 {
    text-align: center;
    margin: 30px 0;
    color: #fff;
    font-size: 50px;
    font-family: 'Nanum Gothic', sans-serif;
}

form {
    font-family: 'Quicksand', sans-serif;
    width: 80%;
    margin: 60px;
    font-size: 20px;
}

label {
    color: #fff;
    font-size: 23px;
}

input {
    margin: 10px;
    /* padding: 5px; */
}

#topics-input {
    font-size: 20px;
}

#add-topics {
    border: none;
    color: #0F2027;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(247, 215, 36);
    font-family: 'Quicksand', sans-serif;
}

#add-topics:hover {
    background-color: rgb(67, 207, 24);
}

#button-topics {
    margin-bottom: 3em;
}

button {
    border: none;
    color: #0F2027;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(247, 215, 36);
    margin: 5px 10px;
    border-radius: 10px;
}

button:hover {
    background-color: #fff;
}

button:focus {
    background-color: rgb(0, 162, 255);
}

.icon {
    padding-right: 10px;
    opacity: 0;
    cursor: pointer;
}

.icon:hover {
    color: #c9c9c9;
    opacity: 1;
}

p {
    color: #fff;
    font-size: 18px;
    margin: 10px;
    text-align: center;
}

.inputDiv {
    /* width: 30%; */
    float: left;
}

.inputDiv img {
    margin: 10px;
    height: 230px;
}


/* responsive */

@media only screen and (max-width: 980px) {
    .inputDiv img {
        /* height: 100px; */
        width: auto;
        height: 300px;
    }
    button {
        padding: 15px 15px;
        font-size: 22px;
    }
    #add-topics {
        padding: 15px 15px;
        font-size: 22px;
    }
    input {
        padding: 10px;
    }
    label {
        font-size: 30px;
    }
    p {
        font-size: 30px;
    }
    .icon {
        opacity: 1;
        color: #c9c9c9;
    }
}

@media only screen and (max-width: 768px) {
    button {
        padding: 10px 10px;
        font-size: 20px;
    }
    aside {
        width: 50%;
    }
    article {
        flex-flow: row;
    }
    form {
        width: none;
    }
    input {
        padding: 5px;
    }
    label {
        font-size: 25px;
    }
    #topics-view {
        width: 50%;
    }
    .inputDiv img {
        height: 300px;
        width: auto;
    }
    .icon {
        opacity: 1;
        color: #c9c9c9;
    }
    p {
        font-size: 25px;
    }
}

@media only screen and (max-width: 640px) {
    aside {
        width: 80%;
        position: relative;
        margin-top: 40px;
        justify-content: flex-start;
    }
    form {
        position: absolute;
        top: -122px;
        right: 65px;
        width: 100%;
    }
    .icon {
        padding: 0;
    }
    #button-topics {
        justify-content: space-between;
    }
    #topics-input {
        font-size: 18px;
    }
    input {
        padding: none;
    }
    label {
        font-size: 20px;
    }
    #add-topics {
        padding: 10px 10px;
        font-size: 15px;
    }
    #topics-view {
        margin-top: 200px;
        justify-content: center;
    }
    .inputDiv img {
        height: 200px;
        width: 347px;
    }
    .icon {
        opacity: 1;
        color: #c9c9c9;
    }
    p {
        font-size: 25px;
    }
}

@media only screen and (max-width: 320px) {
    .inputDiv img {
        height: 200px;
        width: 300px;
    }
    p {
        font-size: 20px;
    }
    #button-topics {
        margin-bottom: 100px;
    }
    button {
        font-size: 17px;
    }
    #topics-input {
        font-size: 18px;
    }
    input {
        padding: none;
    }
    label {
        font-size: 17px;
    }
    aside {
        width: 80%;
        position: relative;
        justify-content: center;
        /* justify-content: flex-start; */
    }
    form {
        position: absolute;
        top: -122px;
        right: 65px;
        width: 100%;
    }
    #add-topics {
        padding: 10px 10px;
        font-size: 15px;
    }
}