body {
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

aside {
    float: right;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #fff;
    font-size: 50px;
    font-family: 'Nanum Gothic', sans-serif;
}

form {
    font-family: 'Quicksand', sans-serif;
    /* width: 100%; */
    margin: 60px;
    font-size: 20px;
}

label {
    color: #fff;
}

input {
    margin: 10px;
    /* padding: 5px; */
}

#topics-input {
    font-size: 18px;
}

#add-topics {
    border: none;
    color: #0F2027;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(247, 215, 36);
}

button {
    border: none;
    color: #0F2027;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(247, 215, 36);
    margin: 0 10px;
    border-radius: 10px;
}

button:hover {
    background-color: #fff;
}

button:focus {
    background-color: rgb(0, 162, 255);
}

p {
    color: #fff;
    font-size: 20px;
    margin: 10px;
}

#topics-view {
    margin: 10px;
}

.inputDiv {}